* { margin: 0; padding: 0; box-sizing: border-box; }
    body {
      text-align: center;
      font-family: sans-serif;
      background: #505052;
    }
    canvas {
      display: block;
      margin: 0 auto;
      background: #88f3ff;
      border: 4px solid #000000;
    }
    #restartBtn {
      display: none;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }